<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>HL3 Confirmation with Dactyl</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">HL3 Confirmer</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="https://github.com/drusepth/confirmer" target="_new">View Source</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="https://github.com/drusepth/confirmer" target="_new">View Source</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container"></div>
    </div>
    <div class="parallax"><img src="img/background1.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h4>Ask the oracle</h4>
          <div class="input-field col s9">
            <i class="material-icons prefix">message</i>
            <input id="question" type="tel" class="validate">
            <label for="question">Ask anything you'd like, and Valve's deepest secrets will be revealed.</label>
          </div>
          <a href="#" class="btn-large waves-effect waves-light teal" id="ask-button">Ask</a>
        </div>
      </div>
      <div class="row">
        <table class="highlight" id="results-table">
          <thead>
            <tr>
              <th data-field="id">Proof</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>

    </div>
  </div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light"><em>It's coming.</em></h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="img/background2.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">verified_user</i></h2>
            <h5 class="center">Backed by math</h5>

            <p class="light">
            Math and numbers don't lie. They literally can't, they're just numbers.
            </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">cloud_done</i></h2>
            <h5 class="center">Published online</h5>

            <p class="light">
            This website's on the Internet, and if it says HL3 is confirmed, it must be. Do you really think someone would just go on the Internet and lie?
            </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">favorite</i></h2>
            <h5 class="center">On your side</h5>

            <p class="light">Who would you rather believe: someone saying what you want to hear, or no news at all?</p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light"><em>Believe.</em></h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="img/background3.jpg" alt="Unsplashed background img 3"></div>
  </div>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Proudly powered by <a href="http://indentlabs.com" class="orange-text">Indent Labs</a></h5>
          <p class="grey-text text-lighten-4">
            This tool uses Indent's open source <a href="http://dactyl.in" class="orange-text">Dactyl</a> text analysis API for nodes in a
            infinitely-expanding multi-goal BFS search with mathematical operation transitions.
          </p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Design by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>.
        Made by <a class="brown-text text-lighten-3" href="http://github.com/drusepth">drusepth</a>.
        Powered by <a class="brown-text text-lighten-3" href="http://indentlabs.com">Indent Labs</a>.
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  <script src="js/confirmer.js"></script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-39217500-5', 'auto');
    ga('send', 'pageview');
  </script>

</body>
</html>
